html {
  background-color: #ECECEC !important;
}

body {
  background-color: #ECECEC !important;
}

html, body, .grid-container, .mapSection, #viewDiv {
  padding: 1px;
  margin: 0;
  height: 100%;
  width: 100%;
}


.navbar.navbar-light.bg-light {
  background-color:#187BCD !important;
  color:#fff;
}

.navbar-brand {
    font-size: 100% !important;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    text-shadow: 0 0 2px #000000, 0 0 2px #fafafa;
    font-weight:bold;
    padding-left: 1%;
}

.bigger {
  font-size:120%;
}

.navbar-toggler {
  background-color: #fafafa !important;
  border:2px solid !important;
  border-color: #737373 !important;
  width: 50px !important;
  height: 40px !important;
  font-size: 15px !important;
}

.navbar-toggler:hover {
  background-color: #dedede !important;
}

button.btn.btn-primary {
  color:#444444 !important;
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  background-color:#fafafa;
  border:2px solid;
  border-color: #737373;
  padding: 10px !important;
  margin: 2px;
}

button.btn.btn-primary:hover {
  background-color: #dedede;
}

.row{
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
.container-fluid {
  align: center !important;
  align-items: center !important;
  justify-content: center !important;
}
*/

.section {
  text-align: left;
  padding: 7px;
  text-indent: 5%;
  background-color: rgba(24,123,205,.9);
  border:1px solid;
  border-color: #737373;
  color:#FFFFFF;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 7px;
  margin-left: 7px;
  margin-right: 7px;
}

.sectionHead {
  text-align:center;
  font-size: 14px;
}

#schoolDistrict {
  text-align:center;
  font-size: 17px;
}

#schoolDistrictText {
  text-align:center;
  font-size: 16px;
}

#insidePop {
  color: #000 !important;
}

div.modal-header {
  background-color: #0E4D92;
  color: #fff;
}

img {
  height: 25px;
  width: 25px;
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  border: 2px solid rgba(0, 0, 0, .4);
  transition: 1s ease;
}

.sidebar {
  width: 50%;
  height: 100%;
  background-color: #ECECEC;
  transition: 1s ease;
  position: relative;
  overflow-y: scroll;
}

.mapSection {
  width: 50%;
  height: 100%;
  background-color: #ccc;
  transition: 1s ease;
  margin: 3px;
}

.mapSection_large {
  width: 100%;
}

.sidebar_small {
  width: 0%;
  overflow-y: scroll;
}

.visible {
  display: block !important;
}

.loading{
  position: absolute;
  top: 100%;
  left: 2%;
  display: none;
  padding: 8px;
  background-color: rgba(24,123,205,.7);
  border:1px solid;
  border-color: #737373;
  color:#FFFFFF;
  text-align:center;
  font-size: 12px;
}

/*
#panelButton {
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
  left: 5%;
  top: 15rem;
  transform: translateX(-50%);
  cursor: pointer;
}
*/

#panelButton {
  border: none;
  height: 32px;
  width: 32px;
  box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
  cursor: pointer;
  background-color: #fff;
  color: #737373;
}

#panelButton:hover {
  background-color: #dedede;
  color:#444444;
}

.img_container{
    width:100px;
    height:100px;
    position:relative;
}
